# ***proyecto.service***
[Unit]
Description=lectura de valores RMS
#StartLimitInterval=0
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/proyecto_final/lectura_rms.py
User=pi
WorkingDirectory=/home/pi/proyecto_final
Restart=always
RestartSec=0
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target